// Global
body {
  font-family: 'Open Sans', sans-serif;
}
.section {
  margin-top: 30px;
  margin-bottom: 30px;
}
.title-main {
  color: $orange;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E5E5E5;
  @media (max-width: 991px) {
    font-size: 20px;
  }
}

.category {
  margin-top: 40px;
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
    .no-padding{
      padding-right:0;
      padding-left:0;
    }
    .card-body {
      padding: 20px 0; 
      @media (max-width: 991px) {
        padding: 2px 0; 
      }
    }
    .category-content {
      border: 1px solid #D6D6D6;
      margin: auto;
      &:hover {
        background-color: $orange;
        border-color:$orange; ;
      }
      @media (max-width: 991px) {
        // min-height: 171px;
      }
    }
    a:hover {
      text-decoration: none;
    }
    .category-content:hover  .card-title{
      color: $text-white;
    }
    .card-title {
      font-size: 16px;
      font-weight: 400;
      color:  #535353;
        @media (max-width: 991px) {
          font-size: 12px;
        }
    }
    .card-deck .card {
      margin-left: 0px;
      margin-right: 0px;
    }
    .icon {
      display: inline-block;
      width: 70px;
      height: 70px;
      background-size: cover;
      margin-bottom: 20px;
      margin-top: 20px;
        @media (max-width: 991px) {
          width: 40px;
          height: 40px;
        }
    }
    .icon-coffee {
      background-image: url(./../../img/icons/coffee.svg);
    }
    .category-content:hover .icon-coffee,
    .category-content:focus .icon-coffee {
      background-image: url(./../../img/icons/coffee-hover.svg);
    }
    .icon-ketchup {
      background-image: url(./../../img/icons/ketchup.svg);
    }
    .category-content:hover .icon-ketchup,
    .category-content:focus .icon-ketchup  {
      background-image: url(./../../img/icons/ketchup-hover.svg);
    }
    .icon-rice {
      background-image: url(./../../img/icons/rice.svg);
    }
    .category-content:hover .icon-rice,
    .category-content:focus .icon-rice  {
      background-image: url(./../../img/icons/rice-hover.svg);
    }

    .icon-pasta {
      background-image: url(./../../img/icons/pasta.svg);
    }
    .category-content:hover .icon-pasta,
    .category-content:focus .icon-pasta  {
      background-image: url(./../../img/icons/pasta-hover.svg);
    }
    .icon-toothbrush {
      background-image: url(./../../img/icons/toothbrush.svg);
    }
    .category-content:hover .icon-toothbrush,
    .category-content:focus .icon-toothbrush  {
      background-image: url(./../../img/icons/toothbrush-hover.svg);
    }
    .icon-tecido {
      background-image: url(./../../img/icons/tecido.svg);
    }
    .category-content:hover .icon-tecido,
    .category-content:focus .icon-tecido  {
      background-image: url(./../../img/icons/tecido-hover.svg);
    }
}

// Cabeçalho
.header-main {
  padding: 18px 0;
  .icontext {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
  }
  .text-login {
    margin-right: 20px;
    margin-left: 10px;
      a {
        color: $black;
      }
  }
}

// Form da busca
.search {
  .form-control{
    position: relative;
  }
  .form-control:focus {
    color: #495057;
    background-color: $text-white;
    border-color: $text-white!important;
    outline: 0;
    box-shadow: 0!important;
  }
  input.form-control {
    padding: 22px;
    border-color: #979797;
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
  }
  input::placeholder {
    color:#ABABAB
  }
  .btn {
    padding: 7.5px 30px;
    font-size: 20px;
    border-top-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
    position:absolute;
    right: 0;
    z-index: 3;
  }
  .input-group-append{
    margin-left: 0px;
  }
}

// Carrinho de compra
.cart {
  background-color: $red;
  border-radius: 5px;
  display: flex;
  width: 132px;
  align-items: center;
    span {
      color: $text-white!important;
      padding-left: 9px;
      font-size: 12px;
      padding: 6px 0;
      line-height: 14px;
        img{
          margin-left: 12px;
          margin-right: 12px;
        }
    }
}

// Menu Principal
.navbar-bg {
  background-color: $blue;
}
a.nav-link {
  color: $text-white;
  padding-left: 39px!important;
  padding-right: 39px!important;
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}
a:hover.nav-link {
  background-color: $red;
}
nav.navbar.navbar-main.navbar-expand-lg.navbar-bg {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-toggler:hover, .navbar-toggler:focus {
  outline: 0;
}

// Banner 
.banner-main img {
  width: 100%;
}
.banner-secondary img {
  width: 100%;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

// Aviso de entrega
.delivery {
  background: rgb(86,225,243);
  background: linear-gradient(180deg, rgba(86,225,243,1) 0%, rgba(0,189,237,1) 100%);
  color: $text-white;
  font-weight: 900;
  padding: 11px 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin-right:10px ;
  }
  a {
    color: $lilac
  }
  @media (max-width: 991px) {
    padding: 11px 20px;
  }
}

// Cards com informações de vantagens
.card-offer .card-offer-item {
  border: 0;
  margin-top: 30px;
  margin-bottom: 30px;
    @media (max-width: 991px) {
      margin-top: 0px;
      margin-bottom: 0px;
    } 
  a {
    color:  #0A5BA6;
  }
  .card-title {
    font-size: 20px;
    color: #1080E7;
    font-weight: 700;
    margin-top: 12px;
    @media (max-width: 991px) {
      font-size: 16px;
    }
  }
  p {
    color: #0A5BA6;
    font-size: 16px;
    font-weight: 400;
    @media (max-width: 991px) {
      font-size: 12px;
    }
  }
}

.no-margin {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

// Produto
.products {
  a {
    text-decoration: none;
  }
  .product-item {
    text-align: center;
    padding: 20px;
      @media (max-width: 991px) {
        padding: 5px;
      }
      &:hover h2.product-title{
        text-decoration: underline
      }
      .add-cart {
        opacity: 0;
        width: 100%;
        border-radius: 0;
        font-weight: 600;
        font-size: 13px;
        display: flex;
          .icon-cart {
            width: 20px;
            height: 20px;
            background-image: url(./../../img/icons/cart.png);
            background-size: cover;
            position: relative;
            margin-right: 8px;
          }
      }
      &:hover{
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
          @media (max-width: 991px) {
            box-shadow: none;
          }
      }
      &:hover .add-cart {
        opacity: 1;
          @media (max-width: 991px) {
            opacity: 0;
          }
      }
      img {
        width: 100%;
      }
      h2.product-title {
        font-size: 16px;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 10px;
        color: #454545;
          @media (max-width: 991px) {
            font-size: 13px;
          }
    }
    
    .price {
      font-size: 27px;
      font-weight: 900;
      color: #525252;

        @media (max-width: 991px) {
          font-size: 20px;
        }
    }
    .text-muted {
      color: #B9B9B9;
      font-size: 12px;
        @media (max-width: 991px) {
          font-size: 10px;
        }
    }
 
  }
}

// Rodape
footer {
  background-color: #1080E7;
  color: $text-white;
  font-size: 12px;
  padding: 30px 0;
}
.terms-and-conditions {
  font-size: 12px;
  font-weight: 400;
  padding: 50px 90px;
  @media (max-width: 991px) {
    padding: 50px 20px;
  }
}

ol.carousel-indicators {
  z-index: 1;
}

// Respnsivo
@media (max-width: 991px) {
  body{
    margin-top: 150px;
  }
  .header-main {
    background-color: $bg-mobile;
    position: fixed;
    z-index: 2;
    width: 100%;
    margin-top: -150px;
  }
  .logo {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 10px;
  }
  .hidden-mobile {
    display: none!important;
  }
  .cart {
    position: fixed;
    top: 15px;
    right: -80px!important;
  }
  .icontext {
    display: block!important;
  }
  .search .btn {
    padding: 7.5px 20px;
  }
  .menu-main {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
  }
  .navbar-bg {
    background-color: transparent!important;
    margin-top: 16px;
  }
  .navbar-nav {
    background-color: $blue;
  }
}

@media (min-width: 992px) {
  .hidden-desktop {
    display: none;
  }
}