body {
  font-family: 'Open Sans', sans-serif;
}

// Cabeçalho
.header-main {
  padding: 18px 0;
}
.icontext {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
}
.text-login {
  margin-right: 20px;
  margin-left: 10px;
}
.text-login a {
  color: #000000;
}
.cart {
  background-color: $red;
  border-radius: 5px;
  display: flex;
  width: 132px;
  align-items: center;
}
.cart span{
  color: #fff!important;
  padding-left: 9px;
  font-size: 12px;
  padding: 6px 0;
  line-height: 14px;
}
.cart span img{
  margin-left: 12px;
  margin-right: 12px;
}
.search .form-control{
  position: relative;
}
.search .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fff!important;
  outline: 0;
  box-shadow: 0!important;
}
.search input.form-control {
  padding: 22px;
  border-color: #979797;
  border-top-right-radius: 5px!important;
  border-bottom-right-radius: 5px!important;
}
.search input::placeholder {
  color:#ABABAB
}
.search .btn {
  padding: 7.5px 30px;
  font-size: 20px;
  border-top-left-radius: 5px!important;
  border-bottom-left-radius: 5px!important;
  position:absolute;
  right: 0;
  z-index: 3;
}
.search .input-group-append{
  margin-left: 0px;
}

// Menu Principal
.navbar-bg {
  background-color: $bg-azul;
}
a.nav-link {
  color: $text-white;
  padding-left: 39px!important;
  padding-right: 39px!important;
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}
a:hover.nav-link {
  background-color: $red;
}
nav.navbar.navbar-main.navbar-expand-lg.navbar-bg {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-toggler:hover, .navbar-toggler:focus {
  outline: 0;
}


// Respnsivo
@media (max-width: 991px) {
  body{
    margin-top: 160px;
  }
  .header-main {
    background-color: $bg-mobile;
    position: fixed;
    z-index: 2;
    width: 100%;
    margin-top: -160px;
  }
  .logo {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 10px;
  }
  .hidden-mobile {
    display: none!important;
  }
  .cart {
    position: fixed;
    top: 15px;
    right: -80px!important;
  }
  .icontext {
    display: block!important;
  }
  .search .btn {
    padding: 7.5px 20px;
  }
  .menu-main {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
  }
  .navbar-bg {
    background-color: transparent!important;
    margin-top: 16px;
  }
  .navbar-nav {
    background-color: $bg-azul;
  }

  
}